#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 2rem;
}

.status-card,
.quick-stats,
.deal-list {
  background-color: #161616;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  text-align: left;
}

.status-card h2,
.quick-stats h2,
.deal-list h1 {
  margin-top: 0;
}

.status-card strong {
  text-transform: uppercase;
  color: #2f37c4;
}

.deals-grid {
  margin-top: 1rem;
}
